@font-face {
  font-family: "Geist Sans";
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Variable.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Variable.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Square";
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Square.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Grid";
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Grid.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Circle";
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Circle.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Triangle";
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Triangle.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Line";
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Line.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
