<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mik.sh</title>
    <meta name="description" content="mik.sh's personal website">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" height="50%" width="50%"/>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div style="display: flex">
          <a href="https://github.com/Mik1337" target="_blank">
          <img title="Linkedin" src="https://cdn.svgporn.com/logos/github-icon.svg" alt="GitHub"  width="24" style="padding-right: 10px" />
          </a> ·
          <a href="https://cdn.svgporn.com/logos/twitter.svg" target="_blank">
          <img title="Twitter" src="https://cdn.svgporn.com/logos/twitter.svg" alt="Twitter"  width="24" style="padding-right: 10px; padding-left: 10px"  />
          </a> ·
          <a href="https://www.linkedin.com/in/santosh%EF%BE%82/" target="_blank">
          <img title="Mastodon" src="https://cdn.svgporn.com/logos/linkedin-icon.svg" alt="Linkedin" width="24" style="padding-right: 10px; padding-left: 10px"  />
          </a> ·
          <a href="https://hachyderm.io/@mik" target="_blank">
          <img title="Mastodon" src="https://cdn.svgporn.com/logos/mastodon-icon.svg" alt="mastodon" width="24" style="padding-right: 10px; padding-left: 10px" />
          </a>
          </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>